<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            width: 400px;
            height: 300px;
            margin: auto;
            margin-top: 200px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            box-shadow: 0px 5px 10px #000;
            padding: 10px;
        }
        
        h1 {
            text-align: center;
        }
        
        button {
            width: 140px;
            height: 50px;
            margin: auto;
            background: linear-gradient(rgb(243, 47, 236), rgb(23, 74, 243));
            border: none;
            border-radius: 40px;
        }
        
        label {
            font-size: 20px;
        }
        
        input {
            height: 30px;
            border-radius: 20px;
            border: 2px solid #15b0f8a1;
        }
    </style>
</head>

<body>
    <div class="box">

        <p id="one" style="display: none;">
            <%-token%>
        </p>
        <h1>Reset Password</h1>
        <label for="">New Password</label>
        <input id="pass" type="password">
        <label for="">confirm Password</label>
        <input id="cpass" type="password">

        <button onclick="handleSubmit()">Submit</button>

    </div>


    <script>
        const handleSubmit = async() => {


            let token = document.getElementById('one').innerHTML
                // console.log(token)
            let password = document.getElementById('pass').value
            let cpassword = document.getElementById('cpass').value
            if (password !== cpassword) {
                alert('Passwords do not match!')
                return
            } else {
                let res = await fetch(`http://localhost:4000/user/reset/${token}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        password: password
                    })
                })
                let data = await res.json()
                console.log(data)
                alert('password updated successful')


            }
        }
    </script>
</body>

</html>